//@import "../bourbon/bourbon";
/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	 
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}



.navi {
		height: 48px;
		position: relative;
	}	
	.navi ul {
		z-index: 50;
		width: 230px;
		
		position: absolute;
		top: 0;
		left: 0;
		border: solid 1px #282C37;
		background: #282C37;
		border-radius: 5px;
		
	}
	.navi li {
		display: none; /* скрыть все <li> пункты */
		margin: 0;
		border: none !important;
		padding: 5px 0;
	}
	.navi .current {
		display: block ; /* показывать только текущие активные <li> пункты */
		line-height: 34px;
		background: url(../images/icon-menu.png) no-repeat 40px 5px;
	}
	.navi a {
		display: block ;
	}
	.navi .current a {
		background: none;
		color: #fff;
	}
 
	/* при наведении на пункты меню */
	.navi ul:hover {
		background-image: none;
	}
	.navi ul:hover li {
		display: block;
		margin: 0 0 3px;
	}
	/* адаптивное меню справа */
	.navi.right ul {
		left: auto;
		right: 0;
	}
 
	





}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
.navi li{
	display: inline-block;
}


 
}







/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}